.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!dist/**/*.js
node_modules/**
out/test/**
.vscode-test.mjs
vitest.config.ts
src/**/*.test.ts
openspec/**
doc/**
